body {
  background: #CEFEE3;
}

h1, h2, p, figcaption {
  color: #3E0008;
  font-family: 'Noto Serif', serif;
}

h1 {
  font-size: 2em;
}

div#sales-title h1 {
  line-height: 2em;
  text-align:center;
}

h2 {
  font-size:24px;
  line-height: 2em;
}

p {
  color:#3E0008;
  font-family: 'Noto Serif', serif;
  line-height: 20px;
}

p#construction {
  color: #C0015A;
  line-height: 20px;
  text-align: center;
}

h2#contact {
  font-size: 18px;
  line-height:30px;
}

#info {
  margin: 175px 0px 20px 50px;
  position: relative;
}

th, tr, td {
  border: 2px solid #757575;
  border-spacing: 50px;
  padding: .75em;
}

table {
  background-color: #EFF6FE;
  border: 5px solid #757575;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* unique font for data */
td  {
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  color: #3E0059;
}

th {
  color:#3E0008;
  font-family: 'Noto Serif', serif;
  font-size:.9em;
}

/* unique font for locations */
th.salesLoc {
  color: #00592F;
  font-family: 'Roboto', sans-serif;
  font-size:1em;
}

/* alternating colors for data rows */
tr:nth-child(even) {
  background-color: #CEE8FE;
}

th, tr:first-child {
  background-color: #CAD9EC;
}

/* highlights selected data cells */
td:hover {
  background-color: #ccffff;
}

form#store-form {
  margin: 50px;
}

legend, label {
  font-family: 'Noto Serif', serif;
  color:#3E0008;
  font-size: 14px;
}

legend {
  line-height: 40px;
  font-size: 16px;
}

[type~="number"] {
  width: 70px;
}

input {
  margin-right: 20px;

}
form {
  border: 3px solid #757575;
  background-color: #EFF6FE;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

form button {
  margin-top: 10px;
}

* {
  box-sizing:border-box;
}

body {
  font-family:'helvetica nueue', arial;
}

.deck {
  box-shadow: 1px 3px 10px 0px #000;
  background-color: #EFF6FE;
  margin:1em;
}

/* code for box shadow taken from https://www.cssmatic.com/box-shadow */
.card {
  /*webkit-box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.75);*/
  -moz-box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.75);
  display:table-cell;
  border-spacing:.5em;
  padding:0;
  position:relative;
}

.card:nth-child(2) {
  margin:.5em 0;
}

.card header {
  background-color: #CAD9EC;
  color: #00592F;
  font-family: 'Roboto', sans-serif;
  font-size:1.75em;
  font-weight:bold;
  padding:.25em;
}

.card figure {
  display:block;
  margin:1.5em auto;
  text-align: center;
}

.card figure figcaption {
  padding:.5em;
  text-align:center;
}

.card figure img {
  max-width:90%;
  margin-left: auto;
  margin-right: auto;
}

.card p {
  margin-bottom:4em;
}

.card .links {
  bottom:0;
  position:absolute;
  width:100%;
}
.card .links a {
  text-decoration:none;
}
.card .links .primary {
  background:#800000;
  border-radius: 6px;
  color:#fff;
  float:right;
  margin:1em;
  padding:.75em;
}

.card .links .primary:hover {
  background:red;
}

.card .links .secondary {
  background:#eee;
  border-radius: 6px;
  color:#000;
  float:left;
  margin:1em;
  padding:.5em;
}

.card .links .secondary:hover {
  background:#ccc;
}

.card.stacked p {
  padding:1em;
}

.card.stacked figure#salmon-pic {
  width:100%;
}

.card.stacked figure#family-pic {
  width:65%;
}

.standalone-box {
  float: left;
}

#merch-list {
  margin-left:10%;
  margin-right:10%;
}

#merch-list img {
  max-width:100%;
  height:auto;
  padding-left:1em;
  padding-right:1em;
}

.standalone-box:last-child {
  margin-right:.6em;
}

#bottom {
  background-image:url('../images/fish.jpg');
  padding-bottom:1em;
  padding-top:1em;
}

div#contact {
  background: #CEFEE3;  
  margin-left:5%;
  padding:.5%;
  text-align:center;
  width:10em;
}

#contact h2 {
  text-decoration: underline;
}

/* styling for nav menu inspired by https://www.w3schools.com/css/css_navbar.asp */
nav ul, div#index-title {
  background-color: #333;
  position: fixed;
  z-index: 10;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 50%;  
}

div#index-title {
  text-align: center;
  width: 50%;
}

div#index-title h1, nav li a {
  padding: 14px 16px;
}
div#index-title h1 {
  color: white;
  line-height:.5em;
}

nav ul {
  margin-left:50%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}