body {
  background: #CEFEE3;
}

h1 {
  font-family: 'Noto Serif', serif;
  color: #3E0008;
  font-size:32px;
  line-height:60px;
  text-align:center;
}

p {
  font-family: 'Noto Serif', serif;
  color:#3E0008;
  line-height: 20px;
}

p#construction {
  text-align: center;
  line-height: 20px;
  color: #C0015A;
}

h2#contact {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  color: #3E0008;
  line-height:30px;
}

#mainSalmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 30px;
}

#info {
  position: relative;
  margin: 175px 0px 20px 50px;
}

th, tr, td {
  border: 2px solid #757575;
  padding: 10px;
  border-spacing: 50px;
}

table {
  border: 5px solid #757575;
  background-color: #EFF6FE;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* unique font for data */
td  {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #3E0059;
}

/* unique font for locations */
th.salesLoc {
  font-family: 'Roboto', sans-serif;
  color: #00592F;
  font-size:16px;
}

tr:nth-child(even) {
  background-color: #CEE8FE;
}

th:first-child, tr:first-child {
  background-color: #CAD9EC;
}

