strong {
  font-family: 'Roboto', sans-serif;
  font-size:24px;
  line-height:40px;
}

li {
  margin-left:30px;
  line-height:20px;
  font-family: 'Lato', sans-serif;
  list-style-type: circle;
}

p {
  font-family: 'Noto Serif', serif;
}

div.shopSales {
  float: left;
  width: 20%;
}