body {
  background: #CEFEE3;
}

h1 {
  font-family: 'Noto Serif', serif;
  color: #3E0008;
  font-size:32px;
  line-height:60px;
  text-align:center;
}

h2.salesLoc {
  font-family: 'Roboto', sans-serif;
  color: #00592F;
  font-size:24px;
  line-height:40px;
}

li {
  margin-left:30px;
  line-height:20px;
  font-family: 'Lato', sans-serif;
  list-style-type: circle;
  color: #3E0059;
}

p {
  font-family: 'Noto Serif', serif;
  color:#3E0008;
  line-height: 20px;
}

p#construction {
  text-align: center;
  line-height: 20px;
  color: #C0015A;
}

h2#contact {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  color: #3E0008;
  line-height:30px;
}
div.shopSales {
  background-color: #CEE8FE;
  float: left;
  width: 15%;
  margin:10px;
  padding:10px;
  border: 5px solid #757575;
}

#mainSalmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 30px;
}

#info {
  position: relative;
  margin: 175px 0px 20px 50px;
}

th, tr, td {
  border: 2px solid #757575;
  padding: 10px;
  border-spacing: 50px;
}

table {
  border: 5px solid #757575;
  background-color: #CEE8FE;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td  {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #3E0059;
}